# Activation de la mise en cache
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 year"
</IfModule>

# Mise en cache des images, CSS et JavaScript pendant un mois
<FilesMatch "\.(jpg|jpeg|png|gif|css|js)$">
    ExpiresDefault "access plus 1 month"
</FilesMatch>
